<% if @newsfeed %>
	<% @newsfeed.each do |news| %>
		<div id="<%= news.id %>" class="news">
			<h2><%= news.title %></h2>
			<p><%=raw news.content %></p>
			<% @time = news.created_at.localtime %>
			<p class="timestamp"><%= @time.strftime('%B %d, %Y - %I:%M %p') %></p>
			<button class="news_button">Home</button>
		</div>
	<% end %>
<% end %>