// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
body {
	margin: 0 auto;
	width: 900px;
	font-family: sans-serif;
}

.rl {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

input, select {
	margin: 10px;
}
