// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#rlBody {
	background-color: white;
	margin: 0 auto;
	width: 100%;
	min-height: 600px;
	font-family: sans-serif;
}

#lrHeader{
	background-color: #539a71;
	white-space: nowrap;
}

#loginH1 {
	padding: 20px;
	margin-left: 20px;
	color: white;
	vertical-align: top;
	display: inline-block;
}

.login{
	display: inline-block;
	margin-top: 40px;
	margin-left: 180px;
}

	.session_email, .session_pass, .btn{
		display: inline-block;
	}

	.login_button{
		background-color: white;
		color: #539a71;
		font-size: 14px;
		font-weight: bold;
		height: 27px;
		width: 75px;
		padding: 2px;
		border: none;
		border-radius: 5px;
		margin-left: 20px;
		letter-spacing: .5px;
	}

#about{
	display: inline-block;
	margin-left: 300px;
	vertical-align: top;
	color: #539a71;
	width: 500px;
	right: 50%;
	position: absolute;
	margin-top: 30px;
	border-right: 5px solid #539a71;
	
}

#about p{
	font-size: 18px;
	line-height: 30px;
	margin-right: 60px;
}

.register {
	display: inline-block;
	left: 60%;
	position: absolute;
	vertical-align: top;
	color: #539a71;
	white-space: nowrap;
	margin-top: 30px;
}

	.register_button{
		background-color: #539a71;
		color: white;
		font-size: 14px;
		font-weight: bold;
		height: 30px;
		width: 210px;
		padding: 2px;
		border: none;
		border-radius: 5px;
		letter-spacing: .5px;
	}

input, select {
	margin-bottom: 20px;
	padding: 2px;
	height: 20px;
	width: 200px;
	font-size: 14px;
}

.editprofile_button{
	background-color: #539a71;
	color: white;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	width: 210px;
	padding: 2px;
	border: none;
	border-radius: 5px;
	letter-spacing: .5px;
}

.edit_profileH1{
	margin-left: 10%;
}

.edit_admin{
	margin-top: 50px;
	margin-left: 75px;
	display: inline-block;
}

.profile_photo{
	width: 150px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
	margin-top: 30px;
}

.updateProfile_button{
	background-color: #539a71;
	color: white;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	width: 210px;
	padding: 2px;
	border: none;
	border-radius: 5px;
	letter-spacing: .5px;
}