// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
	background-color: #539a71;
}

ul, li {
	list-style: none;
	display: inline-block;
}

ul {
	margin-left: 60%;
}

li.nav {
	margin: 0 15px;
}

textarea {
	height: 150px;
	width: 300px;
}

a {
	text-decoration: none;
	color: #539a71;
}

a.nav {
	color: white;
}

.btn {
	background-color: #539a71;
	color: white;
}

input.nav {
	background-color: white;
	color: #539a71;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

iframe {
	width: 1000px;
	height: 700px;
	border: 5px solid #539a71;
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

p {
	line-height: 25px;
}