// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**{
	outline: 1px solid red;
}*/

#backendBody {
	background-color: white;
	margin: 0 auto;
	width: 100%;
	height: auto;
	font-family: sans-serif;
}

#nav {
	background-color: #539a71;
}

.company{
	color: white;
	font-size: 40px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 5%;
	vertical-align: middle;
}

ul, li {
	list-style: none;
	display: inline-block;
}

ul.nav {
	margin-left: 30%;
}

li.nav {
	margin: 0 15px;
}

.dashboard_name{
	margin-left: 10%;
	margin-right: 20%;
	display: inline-block;
}

.welcome{
	display: inline-block;
}

#dashboard_newsfeed{
	margin-left:10%;
	margin-right:10%;
}

#newsfeed_title{
	color: black;
	font-weight: bold;
	font-size: 18px;
	width: 1000px;
	margin-left: 10%;
	padding: 10px;
}

textarea {
	background-color: black;
	color: white;
	font-size: 18px;
	height: 300px;
	width: 980px;
	overflow: auto;
	margin-left: 10%;
	padding: 20px;

}

a {
	text-decoration: none;
	color: #539a71;
}

a.nav {
	color: white;
}

.button_to input{
	background-color: #539a71;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100px;
	display: inline-block;
	margin-left: 60%;
	white-space: nowrap;
}

.publish_button {
	background-color: #539a71;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100px;
	display: inline-block;
	position: absolute;
	left: 70%;
	white-space: nowrap;
}

input.nav {
	background-color: white;
	color: #539a71;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 75px;
}

iframe{
	width: 1200px;
	height: 800px;
	-ms-transform: scale(.75);
	-moz-transform: scale(.75);
	-o-transform: scale(.75);
	-webkit-transform: scale(.75);
	transform: scale(.75);

	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.live_view{
	font-size: 40px;
	margin-left: 530px;
	margin-top:25px;
}

#iframe {
	left: 50%;
	margin-left: 100px;
	margin-bottom: -50px;
	overflow: hidden;
}

#dashboard_footer{
	background-color: #539a71;
	height: 50px;
	color: white;
}

/*Show Newsfeed Post*/

#backendBody .show_title{
	margin-left: 5%;
}

/*Edit Newsfeed Post*/

/*Edit Style*/