// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #02175a;
	font-family: sans-serif;
}

	#container{
		width: 1000px;
		margin: 0 auto;
	}

		#header{
			width: 1000px;
			height: 250px;
			background-color: gray;
			display: inline-block;
		}

		.school{
			color: white;
			font-size: 50px;
			padding-left: 20px;
			display: inline-block;
			margin-top: 150px;
			width: 600px;
			vertical-align: top;
		}

		#header img{
			display: inline-block;
			margin-left: 80px;
			margin-top: 15px;
			vertical-align: top;
		}

			.newsfeed{
				background-color: white;
				width: 600px;
				display: inline-block;
				height: 980px;
				overflow: auto;
				/*line-height: 0px;*/
			}

				h2{
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 15px;
				}

				p{
					padding-left: 20px;
					padding-right: 20px;
					font-size: 18px;
				}

				.timestamp{
					font-size: 14px;
				}

			.sidebar{
				background-color: white;
				width: 360px;
				height: 950px;
				display: inline-block;
				position: absolute;
				border-left: 8px solid #02175a;
				padding: 15px;
			}

				.sidebar h1{
					color: black;
					font-size: 24px;
					text-align: center;
					margin-top: 40px;

				}

				.sidebar h2{
					text-align: center;
					font-size: 40px;
				}

				.sidebar img{
					width: 200px;
					height: 200px;
					display: block;
					margin: 0 auto;
				}

				#calendar{
					width: 90%;
					margin: 0 auto;
					padding-bottom: 40px;
					border-bottom: 8px solid #02175a;
				}

					#calendar h2{
						font-size: 40px;
					}

					#calendar .fc-today-button{
						margin-top: 15px;
					}

					#calendar .fc-prev-button{
						margin-top: 15px;
					}

					#calendar .fc-next-button{
						margin-top: 15px;
					}

			#footer{
				color: white;
				letter-spacing: 2px;
				text-align: center;
			}

			#footer a{
				color: gray;
				letter-spacing: 2px;
				text-align: center;
			}


